.jumbotron {
  text-align: center;
  background-image: url(../img/clouds.jpg);
}

.background-image {
  background-image: url(../img/clouds.jpg);
}

#portland {
  display: none;
}

#bend {
  display: none;
}

#foam-lake {
  display: none;
}

#chicago {
  display: none;
}

#brit-columbia {
  display: none;
}

.question-grid {
  font-size: 20px;
  text-align: center;
  padding: 30px;
  height: 100%;
}

.results-grid {
  font-size: 20px;
  margin: 40px;
  padding: 40px;
}
