.jumbotron {
  text-align: center;
  background-image: url(../img/clouds.jpg);
}

.background-image {
  background-image: url(../img/clouds.jpg);
}

#portland, #bend, #foam-lake, #chicago, #brit-columbia, #reno, #mt-hood {
  display: none;
}

.question-grid {
  font-size: 20px;
  text-align: center;
  padding: 30px;
  height: 100%;
}

.results-grid {
  font-size: 30px;
  margin: 40px;
  padding: 40px;
  text-align: center;
}

.city-photos {
  padding: 20px;
}
